---
import { getCollection } from 'astro:content'
import Comments from 'src/components/comments.tsx'
import Directives from 'src/components/mdx/directives'
import { Header1, Header2, Header3 } from 'src/components/mdx/headlines'
import Image from 'src/components/mdx/image'
import { PostTitle } from 'src/components/post-title'
import { css } from 'styled-system/css'
import BaseLayout from "../layouts/base-layout.astro"

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();


const components = {
  h1: Header1, 
  h2: Header2, 
  h3: Header3, 
  img: Image, 
  directive: Directives
}

const styles = css({
    fontWeight: 'regular',
    marginX: '2rem',
    minHeight: '100vh',
  })
---

<BaseLayout pageTitle={entry.data.title}>
  <div class={styles}>
    <PostTitle postData={entry.data}/>
    <Content components={components}/>
    <Comments client:load />
  </div>
</BaseLayout>
