---
import { getCollection } from 'astro:content'
import Comments from '../components/blogpost/comments.tsx'
import PostTitle from '../components/blogpost/post-title.astro'
import Layout from '../layouts/layout.astro'
import Directives from '../components/mdx/directives'
import Image from '../components/mdx/image'
import { Header1, Header2, Header3 } from '../components/mdx/headlines'

// 1. Generate a new path for every collection entry
// strip-off the mdx extension from the path
export async function getStaticPaths() {
  const blogEntries = await getCollection('posts')
  return blogEntries.map((entry) => ({
    params: { slug: entry.id.replace(/.mdx$/, '') },
    props: { entry },
  }))
}

// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props
const { Content } = await entry.render()

const components = {
  h1: Header1, 
  h2: Header2, 
  h3: Header3, 
  img: Image, 
  directive: Directives
}

---

<Layout title={entry.data.title}>
  <main>
    <!-- <h1>{entry.data.title}</h1> -->
    <PostTitle post={entry.data}/>
    <Content components={components} />
    <Comments client:load />
  </main>
</Layout>

<style>
  main {
    margin: 1.25rem;
  }
</style>