---
import BaseLayout from "../layouts/base-layout.astro";
import Blogpost from "../components/blogpost.tsx"
import { css } from 'styled-system/css'
import { getCollection } from 'astro:content';

const pageTitle = "Home Page";
const posts = await getCollection('posts')

const styles = css({
  minHeight: '100vh',
  marginLeft: '2rem'
})
---

<BaseLayout pageTitle={pageTitle}>
  <div class={styles}>
    {posts.map((post) => <Blogpost postData={post.data} href={post.slug} />)}
  </div>
</BaseLayout>
